/* client/src/styles/main.css */

/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: greenyellow;
    color: #333;
  }
  
  header {
    background-color: blue;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007acc;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  h1 {
    margin-bottom: 10px;
    color: white
  }

   h2 {
    margin-bottom: 10px;
    color: black;
  }

  h6 {
    margin-bottom: 10px;
    color: blue;
    font-size: 2.5rem; /* or any size you prefer, e.g. 24px */
  }

  .landing-message {
    color: #555;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    /* Any other styles you like */
  }
  
  /* Add additional styles for your components */
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  form > div {
    margin-bottom: 15px;
  }
  
  input, select, textarea {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005f99;
  }
  